<div class="container-fluid" style="min-height: 800px;">
	<div class="row" *ngIf="!checkout.products.length">
		<div class="col-12">
			<div class="card mt-4">
				<div class="card-header">
					{{ '#Cart' | dgTranslate }}
				</div>
				<div class="card-body text-center">
					<p>{{ '#Your cart is empty' | dgTranslate }}</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row" *ngIf="checkout.products.length">
		<div class="col-12 col-md-7">
			<div class="card mt-4">
				<div class="card-header">
					{{ '#Cart' | dgTranslate }}
					<span class="badge badge-light ml-2">{{ checkout.products.length }} {{ '#products' | dgTranslate }}</span>
				</div>
				<div class="card-body">
					<div class="row product-line" *ngFor="let product of checkout.products">
						<div class="col-2 col-md-2 d-none d-sm-block">
							<img class="img-fluid" src="{{ product.image }}" alt="{{ product.title }}">
						</div>
						<div class="col-6 col-md-5 offset-md-1">
							<div class="product-name">{{ product.title }}</div>
							<div class="quantity">
								<a rel="nofollow" (click)="quantityDecrement(product)" class="cart_quantity_down minus" title="Retirer">-</a>
								<div class="product_quantity">
									<input size="2" type="text" autocomplete="off" readonly="true" class="cart_quantity_input" [(ngModel)]="product.quantity">
								</div>
								<a rel="nofollow" (click)="quantityIncrement(product)" class="cart_quantity_up plus" title="Ajouter">+</a>
								<button class="btn btn-danger ml-4" (click)="removeProduct(product)">x</button>

							</div>
						</div>
						<div class="col-6 col-md-4 text-right">
							<small>{{ getProductTotalPrice(product) }}</small>
							<span class="product-price">{{ getProductTotalPrice(product, true) }}</span>
							<small>{{ getProductTotalPriceVat(product) }}</small>
						</div>
					</div>
				</div>
			</div>

			<div class="card mt-4">
				<div class="card-header">
					 {{ '#Information client' | dgTranslate }}
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Firstname' | dgTranslate }}</label>
								<input type="text" [(ngModel)]="checkout.customer.firstname" maxlength="20" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Lastname' | dgTranslate }}</label>
								<input type="text" [(ngModel)]="checkout.customer.lastname" maxlength="20" class="form-control">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>{{ '#Email' | dgTranslate }}</label>
								<input type="email" [(ngModel)]="checkout.customer.email" maxlength="30" class="form-control">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<h5>{{ '#Shipping address' | dgTranslate }}</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Firstname' | dgTranslate }}</label>
								<input type="text" [(ngModel)]="checkout.shipping.firstname" maxlength="15" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Lastname' | dgTranslate }}</label>
								<input type="text" [(ngModel)]="checkout.shipping.lastname" maxlength="15" class="form-control">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>{{ '#Company' | dgTranslate }}</label>
								<input type="text" [(ngModel)]="checkout.shipping.company" maxlength="20" class="form-control">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>{{ '#Address' | dgTranslate }}</label>
								<input type="text" [(ngModel)]="checkout.shipping.address" maxlength="20" class="form-control">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>{{ '#Address (next)' | dgTranslate }}</label>
								<input type="text" [(ngModel)]="checkout.shipping.addressNext" maxlength="20" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Zipcode' | dgTranslate }}</label>
								<input type="text" [(ngModel)]="checkout.shipping.zipcode" maxlength="6" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#City' | dgTranslate }}</label>
								<input type="text" [(ngModel)]="checkout.shipping.city" maxlength="10" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Country' | dgTranslate }}</label>
								<input type="text" [(ngModel)]="checkout.shipping.country" maxlength="10" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Phone' | dgTranslate }}</label>
								<input type="text" [(ngModel)]="checkout.shipping.phone" maxlength="14" class="form-control">
							</div>
						</div>
					</div>
					<div class="form-group mb-4">
						<label class="form-check-label">
							<input class="mr-2" type="checkbox" autocomplete="off" [(ngModel)]="checkout.isNotSameAddress">

							{{ '#Utiliser une autre adresse de facturation' | dgTranslate }}
						</label>
					</div>
					<div class="row" *ngIf="checkout.isNotSameAddress">
						<div class="col-12">
							<h5>{{ '#Billing address' | dgTranslate }}</h5>
						</div>
					</div>
					<div class="row" *ngIf="checkout.isNotSameAddress">
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Firstname' | dgTranslate }}</label>
								<input type="text" [(ngModel)]="checkout.billing.firstname" maxlength="15" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Lastname' | dgTranslate }}</label>
								<input type="text" [(ngModel)]="checkout.billing.lastname" maxlength="15" class="form-control">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>{{ '#Company' | dgTranslate }}</label>
								<input type="text" [(ngModel)]="checkout.billing.company" maxlength="15" class="form-control">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>{{ '#Address' | dgTranslate }}</label>
								<input type="text" [(ngModel)]="checkout.billing.address" maxlength="20" class="form-control">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>{{ '#Address (next)' | dgTranslate }}</label>
								<input type="text" [(ngModel)]="checkout.billing.addressNext" maxlength="20" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Zipcode' | dgTranslate }}</label>
								<input type="text" [(ngModel)]="checkout.billing.zipcode" maxlength="6" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#City' | dgTranslate }}</label>
								<input type="text" [(ngModel)]="checkout.billing.city" maxlength="10" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Country' | dgTranslate }}</label>
								<input type="text" [(ngModel)]="checkout.billing.country" maxlength="10" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Phone' | dgTranslate }}</label>
								<input type="text" [(ngModel)]="checkout.billing.phone" maxlength="14" class="form-control">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-5">
			<div class="card mt-4 sticky-top" >
				<div class="card-header">
					{{ '#Summary' | dgTranslate }}
				</div>
				<div class="card-body">
					<div class="container">
						<div class="row">
							<div class="col-6">
								<span class="part-title">{{ '#Total HT' | dgTranslate }}</span>
							</div>
							<div class="col-6 text-right">
								<span class="price total_product">{{ checkout.totalWithoutVat }} €</span>
							</div>
						</div>
						<div class="row row_total_tax">
							<div class="col-6">
								<span class="part-title">{{ '#Total TVA' | dgTranslate }}</span>
							</div>
							<div class="col-6 text-right">
								<span class="price total_tax">{{ checkout.vat }} €</span>
							</div>
						</div>
						<div class="row total-price">
							<div class="col-6">
								<span class="part-title">{{ '#Total' | dgTranslate }}</span>
							</div>
							<div class="col-6 text-right">
								<span class="price total_price">{{ checkout.total }} €</span>
							</div>
						</div>
						<div class="row total-price mt-4">
							<div class="col-6">
								<span class="part-title">{{ '#Total' | dgTranslate }}</span>
							</div>
							<div class="col-6 text-right">
								<span class="price total_price">{{ checkout.inescoinTotal }} INES</span> <br />
								<small>1 INES = {{ checkout.inescoinPrice }} €</small>
							</div>
						</div>
					</div>

					<div class="container text-center mt-4">
						<button (click)="startPayment()" class="btn btn-primary btn-block">{{ '#Payer' | dgTranslate }}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
