<div class="container" style="min-height: 800px;">
	<div class="row" *ngIf="!model.products.length">
		<div class="col-12">
			<div class="card mt-4">
				<div class="card-header">
					{{ '#Panier' }}
				</div>
				<div class="card-body text-center">
					<p>{{ '#Votre panier est vide.' }}</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row" *ngIf="model.products.length">
		<div class="col-12 col-md-7">
			<div class="card mt-4">
				<div class="card-header">
					{{ '#Panier' }}
				</div>
				<div class="card-body">
					<div class="row product-line" *ngFor="let product of model.products">
						<div class="col-2 col-md-2 d-none d-sm-block">
							<img class="img-fluid" src="{{ product.image }}" alt="{{ product.title }}">
						</div>
						<div class="col-6 col-md-5 offset-md-1">
							<div class="product-name">{{ product.title }}</div>
							<div class="quantity">
								<a rel="nofollow" (click)="quantityDecrement(product)" class="cart_quantity_down minus" title="Retirer">-</a>
								<div class="product_quantity">
									<input size="2" type="text" autocomplete="off" readonly="true" class="cart_quantity_input" [(ngModel)]="product.quantity">
								</div>
								<a rel="nofollow" (click)="quantityIncrement(product)" class="cart_quantity_up plus" title="Ajouter">+</a>
								<button class="btn btn-danger ml-4" (click)="removeProduct(product)">x</button>

							</div>
						</div>
						<div class="col-6 col-md-4 text-right">
							<small>{{ getProductTotalPrice(product.amount, product.currency) }}</small>
							<span class="product-price">{{ getProductTotalPrice(product.amount * product.quantity, product.currency) }}</span>
						</div>
					</div>
				</div>
			</div>

			<div class="card mt-4">
				<div class="card-header">
					 {{ '#Information client' }}
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Prénom' }}</label>
								<input type="text" [(ngModel)]="model.customer.firstname" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Nom' }}</label>
								<input type="text" [(ngModel)]="model.customer.lastname" class="form-control">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>{{ '#Email' }}</label>
								<input type="email" [(ngModel)]="model.customer.email" class="form-control">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<h5>{{ '#Shipping address' }}</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Firstname' }}</label>
								<input type="text" [(ngModel)]="model.shipping.firstname" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Lastname' }}</label>
								<input type="text" [(ngModel)]="model.shipping.lastname" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Société' }}</label>
								<input type="text" [(ngModel)]="model.shipping.company" class="form-control">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>{{ '#Address' }}</label>
								<input type="text" [(ngModel)]="model.shipping.address" class="form-control">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>{{ '#Address (next)' }}</label>
								<input type="text" [(ngModel)]="model.shipping.addressNext" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Zipcode' }}</label>
								<input type="text" [(ngModel)]="model.shipping.zipcode" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#City' }}</label>
								<input type="text" [(ngModel)]="model.shipping.city" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Country' }}</label>
								<input type="text" [(ngModel)]="model.shipping.country" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Phone' }}</label>
								<input type="text" [(ngModel)]="model.shipping.phone" class="form-control">
							</div>
						</div>
					</div>
					<div class="form-group mb-4">
						<label class="form-check-label">
							<input class="mr-2" type="checkbox" autocomplete="off" [(ngModel)]="model.isNotSameAddress">

							{{ '#Utiliser une autre adresse de facturation' }}
						</label>
					</div>
					<div class="row" *ngIf="model.isNotSameAddress">
						<div class="col-12">
							<h5>{{ '#Billing address' }}</h5>
						</div>
					</div>
					<div class="row" *ngIf="model.isNotSameAddress">>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Firstname' }}</label>
								<input type="text" [(ngModel)]="model.billing.firstname" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Lastname' }}</label>
								<input type="text" [(ngModel)]="model.billing.lastname" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Company' }}</label>
								<input type="text" [(ngModel)]="model.billing.company" class="form-control">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>{{ '#Address' }}</label>
								<input type="text" [(ngModel)]="model.billing.address" class="form-control">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>{{ '#Address (next)' }}</label>
								<input type="text" [(ngModel)]="model.billing.addressNext" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Zipcode' }}</label>
								<input type="text" [(ngModel)]="model.billing.zipcode" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#City' }}</label>
								<input type="text" [(ngModel)]="model.billing.city" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Country' }}</label>
								<input type="text" [(ngModel)]="model.billing.country" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{ '#Phone' }}</label>
								<input type="text" [(ngModel)]="model.billing.phone" class="form-control">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-5">
			<div class="card mt-4 sticky-top" >
				<div class="card-header">
					{{ '#Summary' }}
				</div>
				<div class="card-body">
					<div class="container">
						<div class="row">
							<div class="col-6">
								<span class="part-title">{{ '#Total HT' }}</span>
							</div>
							<div class="col-6 text-right">
								<span class="price total_product">{{ model.totalWithoutVat }} €</span>
							</div>
						</div>
						<div class="row row_total_tax">
							<div class="col-6">
								<span class="part-title">{{ '#Total TVA' }}</span>
							</div>
							<div class="col-6 text-right">
								<span class="price total_tax">{{ model.vat }} €</span>
							</div>
						</div>
						<div class="row total-price">
							<div class="col-6">
								<span class="part-title">{{ '#Total' }}</span>
							</div>
							<div class="col-6 text-right">
								<span class="price total_price">{{ model.total }} €</span>
							</div>
						</div>
						<div class="row total-price mt-4">
							<div class="col-6">
								<span class="part-title">{{ '#Total' }}</span>
							</div>
							<div class="col-6 text-right">
								<span class="price total_price">{{ model.inescoinTotal }} INES</span> <br />
								<small>1 INES = {{ model.inescoinPrice }} €</small>
							</div>
						</div>
					</div>

					<div class="container text-center mt-4">
						<button (click)="startPayment()" class="btn btn-primary btn-block">{{ '#Payer' }}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
